.Ingredient {
  z-index: 3;
}

.cheese {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.644);
}

.salami::after,
.salami::before,
.salami {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(187, 10, 10);
}

.salami {
  top: 20%;
  left: 15%;
  width: 15%;
  height: 15%;
}

.salami::after {
  content: '';
  top: 0;
  left: 350%;
  height: 100%;
  width: 100%;
}

.salami::before {
  content: '';
  top: 350%;
  left: 160%;
  height: 100%;
  width: 100%;
}

.olives,
.olives::before,
.olives::after {
  position: absolute;
  border-radius: 50%;
  background-color: lawngreen;
}

.olives {
  top: 10%;
  left: 50%;
  transform: rotate(30deg);
  height: 18%;
  width: 9%;
}

.olives::before {
  content: '';
  top: 200%;
  left: 500%;
  transform: rotate(90deg);
  height: 100%;
  width: 100%;
}

.olives::after {
  content: '';
  top: 380%;
  left: 60%;
  transform: rotate(120deg);
  height: 100%;
  width: 100%;
}

.ham,
.ham::before,
.ham::after {
  position: absolute;
  background-color: lightcoral;
  border-radius: 10%;
}

.ham {
  top: 30%;
  left: 40%;
  width: 16%;
  height: 14%;
  transform: skewX(20deg);
}

.ham::before {
  content: '';
  top: 150%;
  left: 180%;
  transform: rotate(40deg);
  height: 100%;
  width: 100%;
}

.ham::after {
  content: '';
  top: 120%;
  right: 230%;
  transform: rotate(130deg);
  height: 100%;
  width: 100%;
}

.chicken,
.chicken::before,
.chicken::after {
  border-radius: 7%;
  background-color: rgb(189, 96, 53);
  position: absolute;
  width: 10%;
  height: 8%;
}

.chicken {
  transform: skewX(20deg);
  top: 10%;
  left: 30%;
}

.chicken::before {
  content: '';
  transform: rotate(30deg);
  top: 520%;
  left: 20%;
  height: 100%;
  width: 100%;
}

.chicken::after {
  content: '';
  transform: rotate(100deg);
  top: 900%;
  left: 40%;
  height: 100%;
  width: 100%;
}
