.Order {
  margin: 1rem;
  padding: 5rem;
  border: 1px solid #000;
  background-color: #bbb;
  box-shadow: 0 0.2rem 0.4rem #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.2rem;
}

.Order p strong {
  font-weight: 800;
}
